.body{
    height: 100vh;
    background-color: #1F212C;
}
.img{
    width : 100%;
}
.img >img{
    width: 50%;
}
.btn_generate{
    background-color: #4519b2 !important;
}
.btn_generate:active{
    background-color: #4a16cb !important;
}
.mouse_hover:hover{
    cursor: pointer;
}